name: commit
on:
  push:
    branches:
      - master

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # lint or test?

      # - name: Determine version
      #   uses: extenda/actions/conventional-version@v0
      #   id: semver
      #   with:
      #     build-number: ${{ github.run_number }}

      - name: Zip Extenda Style
        run: |
          cd styles
          zip -r ExtendaStyle.zip Extenda Vocab/Extenda -x "*.DS_Store"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            ExtendaStyle.zip

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: extenda/actions/gcp-secret-manager@v0
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            DOCKER_PASSWORD: dockerhub-password
            DOCKER_USERNAME: dockerhub-username

      - name: Push to DockerHub
        if: github.ref == 'refs/heads/master'
        uses: extenda/actions/docker@v0
        with:
          image: extenda/vale
          tag: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
