name: commit
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Pip install
        run: sudo -H pip install yamllint pykwalify==1.7.0

      - name: YAML lint
        run: yamllint .github/styles

  test:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm install

      - name: Test style
        run: npm run test

  style:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Zip Extenda Vale Style
        run: |
          cd .github/styles
          zip -r ../../Extenda.zip Extenda Vocab/Extenda -x "*.DS_Store"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          title: "Extenda"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            Extenda.zip

  docker:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: extenda/actions/gcp-secret-manager@v0
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            DOCKER_PASSWORD: dockerhub-password
            DOCKER_USERNAME: dockerhub-username

      - name: Push to DockerHub
        if: github.ref == 'refs/heads/master'
        uses: extenda/actions/docker@v0
        with:
          image: extenda/vale
          tag: latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
